* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 200, 255, 0.069);

  font-family: 'Merriweather Sans';
}

:root{
  --blue: rgb(0, 136, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  /*font-family: 'Trebuchet MS', Verdana, Arial;*/
  color: var(--blue);
  text-align: center;
  font-weight:bold;
  clear:both;
}

#homepagenav li a{
  margin-top: 5vh;
  font-variant: all-small-caps;
  font-weight: bold;
  font-size:larger;
  color: var(--blue);
}

.signupnav li a{
  font-variant: all-small-caps;
  font-weight: bold;
  font-size:larger;
  color: var(--blue);
}

.signupnavbutton{
  color:white !important;
  background-color: var(--blue) !important;
  border-radius: 2em;
}

footer{
  font-family: georgia;
  background-color: rgb(73, 72, 72);
  color: white;
  position: fixed;
  bottom: 0px;
  margin:auto;
  width:100%;
  overflow:hidden;
  word-wrap: break-word;
  padding: 0.8vh 0.5vh 0.8vh 0.5vh;
  text-indent: 1em;
}

footer a{
  color: white;
}

#mainpagesearchbar{
  position: relative;
  margin:auto;
  min-width: 350px;
  max-width: 50%;
  overflow: auto;
  height: 50vh;
}

#dropdownitems p{
  font-family: Verdana;
  background-color: white;
  margin:0vh;
  padding: 1.0vh;
  z-index: 1;
}

#dropdownitems p:hover{
  background-color: rgba(170, 169, 169, 1.0);
}

#searchform{
  position:sticky;
  top: 0px;
  width: 100%;
  z-index: 2;
}

#dropdownitems a{
  color:black;
  text-decoration: none;
  display:block;
}

#dropdownitems{
  width:100%;
  position:relative;
  top:-2vh;
}

.topleft{
  position:relative;

  margin:auto;
  margin-top: 5vh;
  max-width: 100%;
  overflow:visible;
  white-space: nowrap;
  min-height: 40px;
  max-height: 10vh;
}

.buttonbreak{
  display:none;
}

@media screen and (max-width: 950px){
  .signupsearchbar{
    clear:both;
    margin:auto;
    min-width:90%;
  }
}

@media screen and (max-width: 450px){
  .buttonbreak{
    display:inline;
  }
  h3{
    font-size:20px;
  }
}

.topleft h3{
  color: var(--blue);
  font-weight:bold;
  position: relative;
  top:1.5vh;
  float:left;
  
  a:visited{
    color: var(--blue);
  }
}

.topleft a{
  text-decoration: none;
}

.signupsearchbar{
  width: 50%;
  vertical-align: middle;
  position:relative;
  top:-2vh;
  left:2vw;
  float:left;
}

.signupnav{
  float:right;
  position:relative;
}

h2{
  position:absolute;
  top:20vh;
  clear:both;
  z-index: -1;
  left:50%;
  transform:translate(-50%, 0%);
  color: var(--blue);
  font-weight:bold;
}

.anonymity{
  position:absolute;
  top:27vh;
  clear:both;
  z-index: -1;
  left:50%;
  transform:translate(-50%, 0%);
}

.reviewbox, .submissionmessage{
  position:absolute;
  top:34vh;
  clear:both;
  z-index: -1;
  left:50%;
  transform:translate(-50%, 0%);
  min-width:70vw;

  background-color: rgb(219, 219, 219);
  padding: 1vh 1vw 1vh 1vw;
  border-radius:10px;

  input{
    width: 100%;
  }
}

.filtersform{
  clear:both;
  position:absolute;

  left:2vw;
  top:25vh;
  min-width:10vw;
  font-size:14px;
  z-index: -1;
  background-color: rgb(219, 219, 219);
  border-radius:10px;
  padding: 1vh 1vw 1vh 1vw;
}

.additionalp p{
  position:relative;
  top:10vh;
  clear:both;
  left:50%;
  transform:translate(-50%, 0%);
  width:100%;

  background-color: rgb(219, 219, 219);
  padding: 1vh 1vw 1vh 1vw;
  border-radius:10px;
  visibility: hidden;
}

.additionalp div{
  height:10vh;
}

.submissionmessage{
  z-index:5;
  bottom:0vh;
}

hr{
  clear:both;
}

.submitReview{
  clear:both;
  float:right;
}

.reviewbox .alert{
  clear:both;
}

.reviewbox .heading{
  font-weight: 900;
}

.informationAttribute{
  clear:both;
}

.informationAttribute p{
  float:left;
}

.informationAttribute select{
  float:right;
  min-width:10vw;
}

.informationAttribute input[type="number"]{
  float:right;
  max-width: 75px;
  font-size:12px;
}

.informationAttribute input[type="range"]{
  display: inline-block;
  float:right;
  min-width:75px;
  max-width:40vw;
  margin-right:10%;
}

@media screen and (max-width: 450px){
  .informationAttribute select{
    display:block;
    float:left;
  }

  .informationAttribute input{
    display:block;
    float:left;
  }
}

.signupfield, .loginfield, .forgotpasswordfield{
  position:absolute;
  top:30vh;
  clear:both;
  z-index: -1;
  left:50%;
  transform:translate(-50%, 0%);

  input{
    width: 100%;
  }

  background-color: rgb(219, 219, 219);
  padding: 1vh 1vw 1vh 1vw;
  border-radius:10px;
}

.forgotpasswordlink, .forgotpasswordlink:visited{
  color: var(--blue);
}
.forgotpasswordlink:hover{
  color: blue;
}

.formsubheading{
  color:black;
  display:block;
}
.formsubsubheading{
  color:black;
  font-variant-caps: all-small-caps;
}

.ratingScale{
  float:right;
  width:60%;
  margin-right: 10%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.ratingScale p{
  font-size: min(2vw, 14px);
  text-align: center;
}

.reviewtextarea{
  width:90%;
  height:30vh;
  float:right;
  border-radius:15px;
  margin: 0 2vh 2vh 2vh;
}

.contentofinterest{
  z-index:-10;
  text-align: center;
  position:absolute;
  top:25vh;
  left:65%;
  transform:translate(-65%, 0%);
  min-width:50vw;
  min-height: 10vh;
}

.classpageprofpreviews{
  z-index:-10;
  position:absolute;
  top:25vh;
  min-width:95vw;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
}

.contentofinterest p, .classpageprofpreviews p{
  background-color: white;
  border-radius:10px;
  overflow:auto;
  z-index:-1;
  box-shadow: 5px 5px 5px;
}

.classpageprofpreviews p{
  min-width: 45vw;
  margin: 5vh 5vw 5vh 5vw;
}

.contentofinterest div{
  margin: 1vh 1vw 1vh 1vw;
}

.contentofinterest a{
  text-align: left;
}

.classcode{
  float:left;
  background-color:rgb(47, 81, 206);
  border-radius:10px;
  padding: 0.1vh 0.1vw 0.1vh 0.1vw;
  color:white;
}

.formalclassname{
  clear:both;
  float:left;
}

.avgclassrating{
  float:right;
  margin: 0.2vh 0.2vw 0.2vh 0.2vw;
  border-radius: 5px;
  color:white;
  padding: 0.6vh 0.3vw 0.6vh 0.3vw;
}

.ownreviews{
  z-index:-5;
  text-align: center;
  position:absolute;
  top:25vh;
  left:50%;
  transform:translate(-50%, 0%);
  min-width:60vw;
}

.userreview{
  position:relative;
  background-color: rgba(224, 221, 221, 1.0);
  border-radius: 10px;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  margin: 5vh auto 5vh auto;
  overflow:auto;

  box-shadow: 5px 5px 5px;
}

.userreview p{
  background-color: white;
  padding: 0.25vh 0.25vw 0.25vh 0.25vw;
  border-radius: 10px;
}

.userreview .publishdate{
  float:right;
  font-size: 13px;
}

.userreview .courseinfo{
  float:left;
  font-size: 13px;
}

.userreview .timetaken{
  text-align:left;
  font-size: 13px;
  clear:both;
  width:max(15%, 70px);
}

.userreview .reviewbody{
  clear:both;
  margin-bottom:7vh;
}

.userreview .reviewbody p{
  text-align: left;
}

.ratingtable{
  font-size:13px;
  max-width:30%;
  float:right;
  border-radius:10px;
}

.deletebutton{
  font-size:16px;
  float:right;
  border: 1px solid black;
  background-color:red;
  font-weight:bold;
  color:white;
  border-radius:10px;
  padding: 4px 10px 4px 10px;
}

.deletebutton:hover{
  background-color: rgb(202, 28, 28);
}

.deletedmessage{
  position: fixed;
  bottom:10%;
  left:50%;
  transform:translate(-50%, 10%);
  z-index:3;
  visibility:hidden;
}

.editreviewbutton{
  float:left;
}

.reviewfetchfailure{
  position:absolute;
  max-width: 70vw;
  min-width: 25vw;
  text-align: center;
  top: 25vh;
  left: 50%;
  transform: translate(-50%, 0);
}

.proflistingsforcourse{
  display:flex;
  flex-wrap: wrap;
  clear:both;
  margin:auto;
}

.profprofile{
  background-color: rgb(197, 196, 196);
  padding: 0.25vh 0.25vw 0.25vh 0.25vw;
  border-radius: 10px;
  width:max(45%, 150px);
  text-align: left;
}
.overallratinglabel{
  font-size:12px;
  float:right;
}
.avgratingprofprofile{
  font-weight: bold;
  float:right;
}

.classpagecontentofinterest{
  z-index:-10;
  text-align: center;
  position:absolute;
  top:25vh;
  left:50%;
  transform:translate(-50%, 0%);
  min-width:90vw;
  min-height: 10vh;
}

.professoroverviewforclass{
  border-radius:10px;
  background-color:white;
  box-shadow: 5px 5px 5px;
  margin: 5vh 0 5vh 0;
}

.individualratings{
  clear:both;
}

.ratingcomponent{
  float:left;
}

.ratingvalue{
  float:right;
}

.ratingvisual{
  clear:both;
  max-width:30%;
}

.profprofile a{
  text-decoration: none;
}